.tokens-grid {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  border-collapse: collapse;
  text-align: center;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: center;
}

.tokens-grid tbody td {
  padding: 0.75rem 1rem;
  color: #ccc;
}

.tokens-grid tbody tr:nth-child(odd) td {
  background: #444;
}
